# Query the live aircraft data from Opensky API

This notebook shows how to query live data from the Opensky API.
https://opensky-network.org/apidoc/

In [1]:
# Columns data from the API
columns = ["icao24",
 "callsign",
 "origin_country",
 "time_position",
 "last_contact",
 "longitude",
 "latitude",
 "baro_altitude",
 "on_ground",
 "velocity",
 "true_track",
 "vertical_rate",
 "sensors",
 "geo_altitude",
 "squawk",
 "spi",
 "position_source",
 "time"]

In [2]:
# Import the libraries that will be used in this notebook
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os

## API configuration and query

In [3]:
# Save config information.
url = "https://opensky-network.org/api/states/all"

# Build partial query URL
query_url = f"{url}"

#  Perform a request for data
response = requests.get(query_url).json()

In [4]:
# Time of the query data
response["time"]

1607213040

In [5]:
# Amount of data point of the query data
len(response["states"])

3554

In [6]:
# One element of the array
response["states"][0]

['a8aac8',
 'DAL1353 ',
 'United States',
 1607213039,
 1607213039,
 -83.1061,
 29.9016,
 11887.2,
 False,
 240.98,
 164.78,
 0,
 None,
 12321.54,
 None,
 False,
 0]

In [7]:
# Map data to the dictorary
aircraft_live_data = [];
for i in range(0, 10): #range(len(response["states"])):
    data = {};
    # Test for null and strip spaces in case not null
    if response["states"][i][0]:
        data["icao24"] = response["states"][i][0].strip()
    else:
        data["icao24"] = response["states"][i][0]
    if response["states"][i][1]:
        data["callsign"] = response["states"][i][1].strip()
    else:
        data["callsign"] = response["states"][i][1]
    if response["states"][i][2]:
        data["origin_country"] = response["states"][i][2].strip()
    else:
        data["origin_country"] = response["states"][i][2]
    data["time_position"] = response["states"][i][3]
    data["last_contact"] = response["states"][i][4]
    data["longitude"] = response["states"][i][5]
    data["latitude"] = response["states"][i][6]
    data["baro_altitude"] = response["states"][i][7]
    data["on_ground"] = response["states"][i][8]
    data["velocity"] = response["states"][i][9]
    data["true_track"] = response["states"][i][10]
    data["vertical_rate"] = response["states"][i][11]
    data["sensors"] = response["states"][i][12]
    data["geo_altitude"] = response["states"][i][13]
    if response["states"][i][14]:
        data["squawk"] = response["states"][i][14].strip()
    else:
        data["squawk"] = response["states"][i][14]
    data["spi"] = response["states"][i][15]
    data["position_source"] = response["states"][i][16]
    data["time"] = response["time"]
    
    aircraft_live_data.append(data)

In [8]:
aircraft_live_data[0]

{'icao24': 'a8aac8',
 'callsign': 'DAL1353',
 'origin_country': 'United States',
 'time_position': 1607213039,
 'last_contact': 1607213039,
 'longitude': -83.1061,
 'latitude': 29.9016,
 'baro_altitude': 11887.2,
 'on_ground': False,
 'velocity': 240.98,
 'true_track': 164.78,
 'vertical_rate': 0,
 'sensors': None,
 'geo_altitude': 12321.54,
 'squawk': None,
 'spi': False,
 'position_source': 0,
 'time': 1607213040}

### Save data to MySQL

In [9]:
import datetime
from datetime import datetime
import mysql.connector
# import database_credentials as dbkeys
import os
import json

with open("/etc/config.json") as config_file:
    config = json.load(config_file)


# Variables:
database_name = "project_2"  # the name of the target database
table_name = "aircraft_data"



# Create a function to connect to the MYSQL server
def database_connect(hostname, username, password, database=database_name):
    mydb = mysql.connector.connect(
        host=hostname,
        user=username,
        passwd=password,
        database=database
    )
    return mydb



# Return an object containing the MYSQL connection
mydb = database_connect(
    config.get("MYSQL_HOSTNAME"),
    config.get("MYSQL_USERNAME"),
    config.get("MYSQL_PASSWORD")
    )
print(mydb)


# Create the cursor to manipute databases
my_cursor = mydb.cursor()
# Add unique constraint


my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY id DESC LIMIT 1;")
for records in my_cursor:
    print(records)
    print(records[0])


# my_cursor.execute(f"""ALTER TABLE `project_2`.`aircraft_data` 
# ADD COLUMN `time` INT NULL DEFAULT NULL COMMENT '' AFTER `position_source`""")

# Create place holders records to insert into the table
sqlStuff = f"""INSERT INTO {table_name} (icao24, 
                                        callsign,
                                        origin_country,
                                        time_position,
                                        last_contact,
                                        longitude,
                                        latitude,
                                        baro_altitude,
                                        on_ground,
                                        velocity,
                                        true_track,
                                        vertical_rate,
                                        sensors,
                                        geo_altitude,
                                        squawk,
                                        spi,
                                        position_source,
                                        time)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s, %s, %s, %s, %s, %s, %s, %s, %s, %s) """

<mysql.connector.connection.MySQLConnection object at 0x117b4a510>
(749012, 'a41b89', 'DAL2071', 'United States', 1607212799, 1607212799, -83.5589, 32.6071, 11582.4, 0, 199.28, 343.81, 0.0, None, 11902.4, None, 0, 0, None)
749012

In [10]:
for  ii in range(len(aircraft_live_data)):
            record1 = (
                aircraft_live_data[ii]["icao24"],
                aircraft_live_data[ii]["callsign"],
                aircraft_live_data[ii]["origin_country"],
                aircraft_live_data[ii]["time_position"],
                aircraft_live_data[ii]["last_contact"],
                aircraft_live_data[ii]["longitude"],
                aircraft_live_data[ii]["latitude"],
                aircraft_live_data[ii]["baro_altitude"],
                aircraft_live_data[ii]["on_ground"],
                aircraft_live_data[ii]["velocity"],
                aircraft_live_data[ii]["true_track"],
                aircraft_live_data[ii]["vertical_rate"],
                aircraft_live_data[ii]["sensors"],
                aircraft_live_data[ii]["geo_altitude"],
                aircraft_live_data[ii]["squawk"],
                aircraft_live_data[ii]["spi"],
                aircraft_live_data[ii]["position_source"],
                aircraft_live_data[ii]["time"]
                )

#             print(record1)
                

            my_cursor.execute(sqlStuff, record1)

mydb.commit()

In [11]:
for i in range(len(response["states"])):
    aircraft_live_data = list(range(0,18))
    if response["states"][i][0]:
        aircraft_live_data[0] = response["states"][i][0].strip()
    else:
        aircraft_live_data[0] = response["states"][i][0]
    if response["states"][i][1]:
        aircraft_live_data[1] = response["states"][i][1].strip()
    else:
        aircraft_live_data[1] =  response["states"][i][1]
    if response["states"][i][2]:
        aircraft_live_data[2] =  response["states"][i][2].strip()
    else:
        aircraft_live_data[2] =  response["states"][i][2]
    aircraft_live_data[3] =  response["states"][i][3]
    aircraft_live_data[4] =  response["states"][i][4]
    aircraft_live_data[5] =  response["states"][i][5]
    aircraft_live_data[6] =  response["states"][i][6]
    aircraft_live_data[7] =  response["states"][i][7]
    aircraft_live_data[8] =  response["states"][i][8]
    aircraft_live_data[9] =  response["states"][i][9]
    aircraft_live_data[10] =  response["states"][i][10]
    aircraft_live_data[11] =  response["states"][i][11]
    aircraft_live_data[12] =  response["states"][i][12]
    aircraft_live_data[13] =  response["states"][i][13]
    if response["states"][i][14]:
        aircraft_live_data[14] =  response["states"][i][14].strip()
    else:
        aircraft_live_data[14] =  response["states"][i][14]
    aircraft_live_data[15] =  response["states"][i][15]
    aircraft_live_data[16]  = response["states"][i][16]
    aircraft_live_data[17] = response["time"]

In [12]:
# aircraft_live_data

In [13]:
# (aircraft_live_data[0], 
#  aircraft_live_data[1],
#  aircraft_live_data[2],
#  aircraft_live_data[3],
#  aircraft_live_data[4],
#  aircraft_live_data[5],
#  aircraft_live_data[6],
#  aircraft_live_data[7],
#  aircraft_live_data[8],
#  aircraft_live_data[9],
#  aircraft_live_data[10],
#  aircraft_live_data[11],
#  aircraft_live_data[12],
#  aircraft_live_data[13],
#  aircraft_live_data[14],
#  aircraft_live_data[15],
#  aircraft_live_data[16]
# )

### Query Database

In [14]:
my_cursor.execute(f"SELECT * FROM {database_name}.{table_name} ORDER BY id DESC LIMIT 25;")
list_records = []
for records in my_cursor:
#     print(f"Total records on the table: {records[0]}")
    print(f"-----------------------------------------")
#     print(records)
    list_records.append(records)

-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------
-----------------------------------------

In [15]:
type(records)

tuple

In [16]:
# Convert tuples from database to dataframe
df = pd.DataFrame(list_records, columns = [
                                    "id",
                                    "icao24",
                                     "callsign",
                                     "origin_country",
                                     "time_position",
                                     "last_contact",
                                     "longitude",
                                     "latitude",
                                     "baro_altitude",
                                     "on_ground",
                                     "velocity",
                                     "true_track",
                                     "vertical_rate",
                                     "sensors",
                                     "geo_altitude",
                                     "squawk",
                                     "spi",
                                     "position_source",
                                    "time"]
                 )

In [17]:
df.set_index('id')

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source,time
id,,,,,,,,,,,,,,,,,,
749022,ade191,DAL1296,United States,1607213039,1607213039,-80.3799,40.3286,10058.40,0,221.59,13.97,0.33,None,10012.70,None,0,0,1.607213e+09
749021,7c6b41,JST793,Australia,1607213040,1607213040,149.4960,-31.8465,11590.00,0,204.33,219.38,0.00,None,12070.10,1040,0,0,1.607213e+09
749020,7c6b2b,JST737,Australia,1607213039,1607213040,144.6390,-37.7394,3055.62,0,147.65,180.60,12.35,None,2948.94,3257,0,0,1.607213e+09
749019,88044d,AIQ3188,Thailand,1607212985,1607212986,100.4920,13.5793,4053.84,0,193.83,159.98,13.33,None,4274.82,None,0,0,1.607213e+09
749018,ad0b62,LXJ94,United States,1607213040,1607213040,-74.3636,41.9858,4328.16,0,183.69,208.43,0.65,None,4137.66,5105,0,0,1.607213e+09
749017,ac52ee,ASH6273,United States,1607212940,1607212951,-96.1797,30.5337,4953.00,0,160.94,143.97,-8.13,None,5082.54,None,0,0,1.607213e+09
749016,e400d9,FAB2101,Brazil,1607213039,1607213039,-49.1322,-22.0975,8481.06,0,238.61,185.07,6.50,None,9029.70,None,0,0,1.607213e+09
749015,a7f44d,SKW5640,United States,1607213039,1607213039,-97.0840,37.7271,10972.80,0,226.58,279.01,0.00,None,11125.20,None,0,0,1.607213e+09
749014,7c79a4,YBA,Australia,1607212808,1607212808,145.3620,-37.7142,335.28,0,40.34,5.86,-4.55,None,289.56,3402,0,0,1.607213e+09
749013,a8aac8,DAL1353,United States,1607213039,1607213039,-83.1061,29.9016,11887.20,0,240.98,164.78,0.00,None,12321.50,None,0,0,1.607213e+09
749012,a41b89,DAL2071,United States,1607212799,1607212799,-83.5589,32.6071,11582.40,0,199.28,343.81,0.00,None,11902.40,None,0,0,NaN
749011,c00734,WJA2601,Canada,1607212799,1607212799,-78.9021,43.0325,6659.88,0,186.08,309.28,-11.70,None,6499.86,6711,0,0,NaN
749010,a05dbc,UAL1160,United States,1607212799,1607212799,-87.9070,41.9880,137.16,0,24.18,39.38,NaN,None,NaN,None,0,0,NaN
749009,a93ac8,NKS919,United States,1607212629,1607212629,-115.1550,36.0857,NaN,1,0.64,146.25,NaN,None,NaN,None,0,0,NaN
749008,ac7419,NKS772,United States,1607212797,1607212797,-82.0521,34.4528,11270.00,0,211.48,358.88,0.00,None,11483.30,None,0,0,NaN
749007,a9da02,N734BB,United States,1607212603,1607212603,-121.4110,44.2642,1935.48,0,61.99,9.07,-0.65,None,1950.72,None,0,0,NaN
749006,a7ad84,DAL1099,United States,1607212799,1607212799,-82.8982,41.5988,4091.94,0,164.55,336.80,-7.15,None,4023.36,2551,0,0,NaN
749005,7808df,YZR7523,China,1607212799,1607212799,114.5070,23.2320,6210.30,0,228.23,39.97,10.73,None,6522.72,3146,0,0,NaN
749004,424445,SBI3061,United Kingdom,1607212799,1607212799,127.8590,51.3013,7254.24,0,193.59,170.36,-11.05,None,6812.28,None,0,0,NaN
749003,780d9e,CES7052,China,1607212799,1607212800,-88.3158,45.1880,9144.00,0,253.78,352.43,0.00,None,9006.84,1322,0,0,NaN
749002,ab9aa9,N847JG,United States,1607212798,1607212799,-87.7741,40.7831,1615.44,0,81.02,12.09,-0.33,None,1584.96,6433,0,0,NaN
749001,aaddd1,N8GR,United States,1607212799,1607212799,-119.3750,34.5141,2979.42,0,76.25,322.13,3.90,None,3086.10,None,0,0,NaN
749000,8409ed,11,Japan,1607212799,1607212799,131.7170,33.1346,12192.00,0,177.58,219.59,0.00,None,12641.60,None,0,0,NaN
748999,abc0e4,SWA4002,United States,1607212799,1607212799,-81.3832,28.6812,3185.16,0,147.73,340.68,7.48,None,3276.60,None,0,0,NaN
748998,ab3a0c,,United States,1607212799,1607212799,-95.0432,29.8474,2308.86,0,138.96,296.38,-4.55,None,2385.06,None,0,0,NaN

In [18]:
df.to_dict(orient='records')

[{'id': 749022,
  'icao24': 'ade191',
  'callsign': 'DAL1296',
  'origin_country': 'United States',
  'time_position': 1607213039,
  'last_contact': 1607213039,
  'longitude': -80.3799,
  'latitude': 40.3286,
  'baro_altitude': 10058.4,
  'on_ground': 0,
  'velocity': 221.59,
  'true_track': 13.97,
  'vertical_rate': 0.33,
  'sensors': None,
  'geo_altitude': 10012.7,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749021,
  'icao24': '7c6b41',
  'callsign': 'JST793',
  'origin_country': 'Australia',
  'time_position': 1607213040,
  'last_contact': 1607213040,
  'longitude': 149.496,
  'latitude': -31.8465,
  'baro_altitude': 11590.0,
  'on_ground': 0,
  'velocity': 204.33,
  'true_track': 219.38,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12070.1,
  'squawk': '1040',
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749020,
  'icao24': '7c6b2b',
  'callsign': 'JST737',
  'origin_country': 'Australia',
  'time_position': 1607213039,
  'last_contact': 1607213040,
  'longitude': 144.639,
  'latitude': -37.7394,
  'baro_altitude': 3055.62,
  'on_ground': 0,
  'velocity': 147.65,
  'true_track': 180.6,
  'vertical_rate': 12.35,
  'sensors': None,
  'geo_altitude': 2948.94,
  'squawk': '3257',
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749019,
  'icao24': '88044d',
  'callsign': 'AIQ3188',
  'origin_country': 'Thailand',
  'time_position': 1607212985,
  'last_contact': 1607212986,
  'longitude': 100.492,
  'latitude': 13.5793,
  'baro_altitude': 4053.84,
  'on_ground': 0,
  'velocity': 193.83,
  'true_track': 159.98,
  'vertical_rate': 13.33,
  'sensors': None,
  'geo_altitude': 4274.82,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749018,
  'icao24': 'ad0b62',
  'callsign': 'LXJ94',
  'origin_country': 'United States',
  'time_position': 1607213040,
  'last_contact': 1607213040,
  'longitude': -74.3636,
  'latitude': 41.9858,
  'baro_altitude': 4328.16,
  'on_ground': 0,
  'velocity': 183.69,
  'true_track': 208.43,
  'vertical_rate': 0.65,
  'sensors': None,
  'geo_altitude': 4137.66,
  'squawk': '5105',
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749017,
  'icao24': 'ac52ee',
  'callsign': 'ASH6273',
  'origin_country': 'United States',
  'time_position': 1607212940,
  'last_contact': 1607212951,
  'longitude': -96.1797,
  'latitude': 30.5337,
  'baro_altitude': 4953.0,
  'on_ground': 0,
  'velocity': 160.94,
  'true_track': 143.97,
  'vertical_rate': -8.13,
  'sensors': None,
  'geo_altitude': 5082.54,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749016,
  'icao24': 'e400d9',
  'callsign': 'FAB2101',
  'origin_country': 'Brazil',
  'time_position': 1607213039,
  'last_contact': 1607213039,
  'longitude': -49.1322,
  'latitude': -22.0975,
  'baro_altitude': 8481.06,
  'on_ground': 0,
  'velocity': 238.61,
  'true_track': 185.07,
  'vertical_rate': 6.5,
  'sensors': None,
  'geo_altitude': 9029.7,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749015,
  'icao24': 'a7f44d',
  'callsign': 'SKW5640',
  'origin_country': 'United States',
  'time_position': 1607213039,
  'last_contact': 1607213039,
  'longitude': -97.084,
  'latitude': 37.7271,
  'baro_altitude': 10972.8,
  'on_ground': 0,
  'velocity': 226.58,
  'true_track': 279.01,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11125.2,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749014,
  'icao24': '7c79a4',
  'callsign': 'YBA',
  'origin_country': 'Australia',
  'time_position': 1607212808,
  'last_contact': 1607212808,
  'longitude': 145.362,
  'latitude': -37.7142,
  'baro_altitude': 335.28,
  'on_ground': 0,
  'velocity': 40.34,
  'true_track': 5.86,
  'vertical_rate': -4.55,
  'sensors': None,
  'geo_altitude': 289.56,
  'squawk': '3402',
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749013,
  'icao24': 'a8aac8',
  'callsign': 'DAL1353',
  'origin_country': 'United States',
  'time_position': 1607213039,
  'last_contact': 1607213039,
  'longitude': -83.1061,
  'latitude': 29.9016,
  'baro_altitude': 11887.2,
  'on_ground': 0,
  'velocity': 240.98,
  'true_track': 164.78,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12321.5,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': 1607213040.0},
 {'id': 749012,
  'icao24': 'a41b89',
  'callsign': 'DAL2071',
  'origin_country': 'United States',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -83.5589,
  'latitude': 32.6071,
  'baro_altitude': 11582.4,
  'on_ground': 0,
  'velocity': 199.28,
  'true_track': 343.81,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11902.4,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749011,
  'icao24': 'c00734',
  'callsign': 'WJA2601',
  'origin_country': 'Canada',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -78.9021,
  'latitude': 43.0325,
  'baro_altitude': 6659.88,
  'on_ground': 0,
  'velocity': 186.08,
  'true_track': 309.28,
  'vertical_rate': -11.7,
  'sensors': None,
  'geo_altitude': 6499.86,
  'squawk': '6711',
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749010,
  'icao24': 'a05dbc',
  'callsign': 'UAL1160',
  'origin_country': 'United States',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -87.907,
  'latitude': 41.988,
  'baro_altitude': 137.16,
  'on_ground': 0,
  'velocity': 24.18,
  'true_track': 39.38,
  'vertical_rate': nan,
  'sensors': None,
  'geo_altitude': nan,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749009,
  'icao24': 'a93ac8',
  'callsign': 'NKS919',
  'origin_country': 'United States',
  'time_position': 1607212629,
  'last_contact': 1607212629,
  'longitude': -115.155,
  'latitude': 36.0857,
  'baro_altitude': nan,
  'on_ground': 1,
  'velocity': 0.64,
  'true_track': 146.25,
  'vertical_rate': nan,
  'sensors': None,
  'geo_altitude': nan,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749008,
  'icao24': 'ac7419',
  'callsign': 'NKS772',
  'origin_country': 'United States',
  'time_position': 1607212797,
  'last_contact': 1607212797,
  'longitude': -82.0521,
  'latitude': 34.4528,
  'baro_altitude': 11270.0,
  'on_ground': 0,
  'velocity': 211.48,
  'true_track': 358.88,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 11483.3,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749007,
  'icao24': 'a9da02',
  'callsign': 'N734BB',
  'origin_country': 'United States',
  'time_position': 1607212603,
  'last_contact': 1607212603,
  'longitude': -121.411,
  'latitude': 44.2642,
  'baro_altitude': 1935.48,
  'on_ground': 0,
  'velocity': 61.99,
  'true_track': 9.07,
  'vertical_rate': -0.65,
  'sensors': None,
  'geo_altitude': 1950.72,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749006,
  'icao24': 'a7ad84',
  'callsign': 'DAL1099',
  'origin_country': 'United States',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -82.8982,
  'latitude': 41.5988,
  'baro_altitude': 4091.94,
  'on_ground': 0,
  'velocity': 164.55,
  'true_track': 336.8,
  'vertical_rate': -7.15,
  'sensors': None,
  'geo_altitude': 4023.36,
  'squawk': '2551',
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749005,
  'icao24': '7808df',
  'callsign': 'YZR7523',
  'origin_country': 'China',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': 114.507,
  'latitude': 23.232,
  'baro_altitude': 6210.3,
  'on_ground': 0,
  'velocity': 228.23,
  'true_track': 39.97,
  'vertical_rate': 10.73,
  'sensors': None,
  'geo_altitude': 6522.72,
  'squawk': '3146',
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749004,
  'icao24': '424445',
  'callsign': 'SBI3061',
  'origin_country': 'United Kingdom',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': 127.859,
  'latitude': 51.3013,
  'baro_altitude': 7254.24,
  'on_ground': 0,
  'velocity': 193.59,
  'true_track': 170.36,
  'vertical_rate': -11.05,
  'sensors': None,
  'geo_altitude': 6812.28,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749003,
  'icao24': '780d9e',
  'callsign': 'CES7052',
  'origin_country': 'China',
  'time_position': 1607212799,
  'last_contact': 1607212800,
  'longitude': -88.3158,
  'latitude': 45.188,
  'baro_altitude': 9144.0,
  'on_ground': 0,
  'velocity': 253.78,
  'true_track': 352.43,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 9006.84,
  'squawk': '1322',
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749002,
  'icao24': 'ab9aa9',
  'callsign': 'N847JG',
  'origin_country': 'United States',
  'time_position': 1607212798,
  'last_contact': 1607212799,
  'longitude': -87.7741,
  'latitude': 40.7831,
  'baro_altitude': 1615.44,
  'on_ground': 0,
  'velocity': 81.02,
  'true_track': 12.09,
  'vertical_rate': -0.33,
  'sensors': None,
  'geo_altitude': 1584.96,
  'squawk': '6433',
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749001,
  'icao24': 'aaddd1',
  'callsign': 'N8GR',
  'origin_country': 'United States',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -119.375,
  'latitude': 34.5141,
  'baro_altitude': 2979.42,
  'on_ground': 0,
  'velocity': 76.25,
  'true_track': 322.13,
  'vertical_rate': 3.9,
  'sensors': None,
  'geo_altitude': 3086.1,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 749000,
  'icao24': '8409ed',
  'callsign': '11',
  'origin_country': 'Japan',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': 131.717,
  'latitude': 33.1346,
  'baro_altitude': 12192.0,
  'on_ground': 0,
  'velocity': 177.58,
  'true_track': 219.59,
  'vertical_rate': 0.0,
  'sensors': None,
  'geo_altitude': 12641.6,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 748999,
  'icao24': 'abc0e4',
  'callsign': 'SWA4002',
  'origin_country': 'United States',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -81.3832,
  'latitude': 28.6812,
  'baro_altitude': 3185.16,
  'on_ground': 0,
  'velocity': 147.73,
  'true_track': 340.68,
  'vertical_rate': 7.48,
  'sensors': None,
  'geo_altitude': 3276.6,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan},
 {'id': 748998,
  'icao24': 'ab3a0c',
  'callsign': '',
  'origin_country': 'United States',
  'time_position': 1607212799,
  'last_contact': 1607212799,
  'longitude': -95.0432,
  'latitude': 29.8474,
  'baro_altitude': 2308.86,
  'on_ground': 0,
  'velocity': 138.96,
  'true_track': 296.38,
  'vertical_rate': -4.55,
  'sensors': None,
  'geo_altitude': 2385.06,
  'squawk': None,
  'spi': 0,
  'position_source': 0,
  'time': nan}]